html {
   background-color: #0D405C;
}

.navbar-default .navbar-nav > li > a {
   color: black;
}

.navbar-default .navbar-nav > li > a:hover {
   color: white;
}

.navbar-default {
   background-image: linear-gradient(to bottom, #FFCB04, #FFCB04); 
}

h1 {
   font-size: 3rem;
}

section li {
   margin-top: 2rem;
   margin-bottom: 2rem;
   width: 100%;
}

body {
   margin-left: 10vw;
   margin-right: 10vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-left: 5vw;
   padding-right: 5vw;
}


