html {
   background-color: #0D405C;
   /* background-image: url("green%20textured%20background.gif"); */
}

h1 {
   font-size: 3rem;
}

section li {
   margin-top: 2rem;
   margin-bottom: 2rem;
   width: 100%;
}

body {
   margin-left: 10vw;
   margin-right: 10vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-left: 5vw;
   padding-right: 5vw;
}


