html {
   background-color: #0D405C;
}

.navbar-default .navbar-nav > li > a {
   color: black;
}

.navbar-default .navbar-nav > li > a:hover {
   color: white;
}

.navbar-default {
   background-image: linear-gradient(to bottom, #FFCB04, #FFCB04); 
}

.navbar-london {
   border-width:0;
}

.navbar-national {
   background-image: linear-gradient(to bottom, #1F99DC, #1F99DC);
   margin-bottom:0;
   padding-bottom:0; 
   border-width:0;
}

h1 {
   font-size: 3rem;
}

article {
   margin-top: 2rem;
   margin-bottom: 2rem;
}

section p {
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 2rem;
   max-width: 60rem;
}

section ul {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

section li {
   margin-top: 0;
   margin-bottom: 0;
   width: 100%;
}

body {
   margin-left: 10vw;
   margin-right: 10vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-left: 5vw;
   padding-right: 5vw;
}


